.about{
    width: 100%;
    height: calc(100vh - 105px);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 0px 30px;
}
.about h2{
    width: 100%;
    height: 30px;
    text-align: center;
    background: linear-gradient(180deg,blue,steelblue,blueviolet);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.about-page{
    width: 100%;
    height: 100%;
    /* margin: 5px 0px; */
    background: white;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}
.about .about-page .main{
    width: 40%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px 0px;
    margin-top: 0px;
    position: relative;
}
.about .main .image{ 
    position: absolute;
    top: 10 !important;
    left: 30;
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
    border-radius: 60%;
    border: 2px solid black;
    background: url(/images/profile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about .about-page .main .intro{
    width: 90%;
    height: 350px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 0px;
    padding-top: 70px;
    margin-top: 70px;
}
.about .about-page .main .intro .name{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
}
.about-page .main .intro .name h3{
    width: 30%;
    height: 30px;
    text-align: end !important;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 550;
}
.about-page .main .intro p{
    width: 80%;
    font-size: 16px;
    padding: 2px;
    text-align: start;
    margin-bottom: 10px;
}
.about .about-page .introduction{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 10px;
    padding: 20px;
}
.about .about-page .introduction p{
    line-height: 25px;
    padding-bottom: 30px;
    font-size: 15px;
    text-align: justify;
}
.about .about-page .introduction p #highlight{
    color: #1085d3;
    font-size: 16px;
    padding: 0px 8px;
    font-weight: 500;
}
.about .about-page .introduction p span{
    color: orangered;
    font-size: 16px;
    padding: 0px 8px;
    font-weight: 500;
}

@media screen and (max-width:768px) {
    .about{
        width: 100%;
        height:100%;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }
    .about h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .about .about-page{
        width: 100%;
        height:100%;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
    }
    .about .about-page .main{
        width: 125% !important;
    }
    .about-page .main .intro .name h3{
        font-size: 15px;
    }
    .about-page .main .intro .name p{
        font-size: 14px;
    }
    .about .about-page .introduction {
        width: 80% !important;
        height: 100%;
        padding: 0px 25px;
        text-align: justify;
    }
    .about .about-page .introduction p{
        font-size: 14px;
    }
    .about .about-page .introduction #highlight{
        font-size: 14px !important;
    }
}

@media (min-width:768px) and (max-width:1024px) {
  
    .about{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }
    .about h2{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .about .about-page{
        width: 70%;
        height:100%;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
    }
    .about .about-page .main{
        width: 100%;
    }
    .about-page .main .intro .name h3{
        font-size: 15px;
    }
    .about-page .main .intro .name p{
        font-size: 14px;
    }
    .about .about-page .introduction {
        width: 100% !important;
        height: 100%;
        padding: 0px 25px;
        text-align: justify;
        margin-bottom: 80px;
    }
    .about .about-page .introduction p{
        font-size: 14px;
    }
    .about .about-page .introduction #highlight{
        font-size: 14px !important;
    }
}

